body{
  background-color: rgb(250, 198, 247);
  font-family: "Manrope";
}
button{
  margin-top: 90px;
  width:200px ;
  height: 50px;
  border-radius: 30px;
  border-style: none;
}
a{
  text-decoration: none;
  font-family: "Manrope";
  font-size: 15px;
}
div{
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
